body{
    background-color: cornflowerblue;
    color: ghostwhite;
    font-family: 'JetBrains Mono', monospace;
}

.container{
    padding: 80px;
}

.contact-holder{
    font-size: 2em;
}

.link-holder{
    text-decoration: none!important;
    color: #483d8b;
}

.project{
    padding-top: 5px;
    font-size: 1.2em;
}

.project-image{
    width: 30px;
    height: 30px;
}

.page-section{
    padding-top: 40px;
}