:root{
    --background: cornflowerblue;
    --text: ghostwhite;
    --accent: #483d8b;
}

body{
    background-color: var(--background);
    color: var(--text);
    font-family: 'JetBrains Mono', monospace;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}

.container{
    padding: 80px;
}

.contact-holder{
    font-size: 2em;
}

.contact-holder span{
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.8em;
}

html{
    scrollbar-width: none;
}

.name{
    color: var(--accent);
}

.link-holder{
    text-decoration: none!important;
    color: var(--accent);
}

.page-section{
    padding-top: 40px;
}

.project{
    padding-top: 5px;
    font-size: 1.2em;
}

.project-image{
    width: 30px;
    height: 30px;
}

.sub-section-collapse{
    padding-top: 20px;
}